html{
    font-family:sans-serif;
    line-height:1.15;
}

body{
    margin: 0 auto;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border-bottom: 1px solid;
    padding: 5px;
    padding-left: 15px;
}


th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

textarea{
    overflow: auto;
    text-align: initial;
    text-indent: initial;
    text-shadow: initial;
    text-transform: initial;
    word-spacing: initial;
    letter-spacing: initial;
}

button, input[type="submit"]{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="text"]{
    line-height: 34px;
}

input[id="commentBody"]{
    width: 40%;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

button:hover, input[type="submit"]:hover{
    background-color: #efefef;
}

.full-width-Header{
  border-bottom-style: solid;
  border-bottom-color: lightcoral;
  display: block;
  text-align: center;
  margin: auto;
}

.headerTitle{
    text-align: left;
    line-height: 2em;
    font-size: 2em;
}

.bodyContainer{
    padding:1em;
    margin-left: 25%;
    margin-right: 25%;
}

.centreLeft{
    margin-left: 25%;
    margin-right: 25%;
}

.commentBoxTable{
    width: 80%;
}